.loading-container {
	display: flex;
	position: absolute;
	top: 0px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: center;
	height: 850px;
	background: rgba(0, 0, 0, 0.9);
}

.loading-ring {
	width: 80px;
	height: 80px;
	border: 6px solid #ffa470;
	border-top: 6px solid transparent;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

.loading-text {
	margin-top: 20px;
	font-size: 1.5rem;
	color: white;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
