.inner {
	white-space: nowrap;
	transition: transform 0.3s;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.carousel-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 490px;
	background-color: white;
}
